@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
$blue-primary: rgb(29,30,99);
$blue-muted: rgb(49,49,88);
$blue-alpha: rgba(54, 55, 97, 0.329);
* {
  font-family: "Otomanopee One" !important;
  font-weight: 900;
}

#hydrocut-heading{
    font-size: 300%;
}
#header{
    height: 80vh;
}
// body{
//     background: #f1f8ff;
// }

.green-blue-gradient{
    background: linear-gradient(0deg, blue,green) !important;
    background-color: red !important;
}
.bluecolor-main {
  color: $blue-primary;
}
.bluecolor-muted{
    color:$blue-muted;
}

.primary-button-main {
  color: $blue-primary;
  background: $blue-alpha;
  padding: 10px 20px;
  border-radius: 5px;
    text-decoration: none;
  border: 1px solid $blue-primary;
    &:hover{
        color: white;
        background: $blue-primary;
    }
}