@import url('https://fonts.googleapis.com/css2?family=Martel:wght@900&family=Roboto:ital,wght@0,400;1,700&display=swap');
$blue-primary: #093e66
$blue-muted: #185c8f
$blue-light: #185c8f
$blue-background: #f4fafd
$blue-background-secondary: #99d2fe
$blue-background-secondary-alpha: #99d2feaa
$blue-alpha: rgba(54, 55, 97, 0.329)



*
    font-family: "Roboto"
    font-weight: 400
    // border: .00001px dotted 
    box-sizing: content-box
    // background-color: $blue-background
    &::selection
        background: #ffa
        

.navbar
    background: $blue-primary
    z-index: 1
    *
        background: $blue-primary
        color: white !important
#hydrocut-heading
    font-size: 400%
    font-family: "Martel"
    font-weight: 900
    color: $blue-primary
#hydrocut-tagline
    font-size: 230%
    width: 80%
    line-height: 100%
    font-family: "Roboto"
    font-weight: 700
    font-style: italic
    color: $blue-muted
#hydrocut-para
    font-size: 140%
    font-family: "Roboto"
    font-weight: 400
    color: $blue-light
    width: 85%

#header
    height: 100vh

#about-hydrocut
    padding: 150px 0
// #features

// #about-hydrocut
//     background: $blue-background-secondary
.about-us, #about-hydrocut, #about-hydrocut *
    background: $blue-background-secondary
    z-index: 2

.gray-background
    background: rgb(240, 240, 255)

// .yomogi-font
//     font-family: "Yomogi" !important

// .otomanopee-font
//     font-family: "Otomanopee One"

body
    animation: backgroundChanging 4s ease-in 2s infinite alternate

@keyframes backgroundChanging
    0%
        background-color: rgb(179, 255, 0) !important
    // background-color: red

    100%
        background-color: rgb(251, 215, 195) !important

.green-blue-gradient
    background: linear-gradient(0deg, blue, green) !important
    background-color: red !important

.bluecolor-main
    color: $blue-primary

.bluecolor-muted
    color: $blue-muted

.primary-button-main
    color: $blue-primary
    background: $blue-background-secondary
    font-family: "Roboto"
    font-weight: 900
    font-size: 130%
    padding: 15px 20px
    border-radius: 5px
    text-decoration: none
    box-shadow: 4px 4px $blue-background-secondary-alpha
    transition: all .5s
    &:hover
        color: white
        background: $blue-primary
        box-shadow: none

// =============components

// .header-image-container
//     position: relative

.header-image
    position: absolute
    height: 1200px
    top: -50px
    right: -400px
    background: transparent
    transform: rotate(20deg)
    opacity: 0.6
    z-index: 0

// .second-header-image
//     z-index: -1
//     position: absolute
//     top: 150px
//     left: 290px
//     height: 500px
.categories-card
    height: 100%
    width: 100%
    // background: rgb(240, 240, 255)
    border-radius: 10px
.categories-text
    font-weight: bold
    position: relative
    top: -60px
    padding: 20px
    background: #fffa
.categories-image
    border-radius: 5px
.product-card *
    color: white !important
    background: $blue-light
    border-radius: 30px
    color: $blue-primary
    // background: red !important

// .bg-pattern
//     background-image: url("../img/header-pattern.png")
//     background-size: cover
//     width: 100%
//     z-index: -10

//     overflow: visible
// 
